@font-face
	font-family: 'SFUIDisplay'
	src: local('SFUIDisplay'), url(../fonts/SFUIDisplay/SFUIDisplay-Light.woff) format('woff')

@font-face
	font-family: 'SFUIDisplayMedium'
	src: local('SFUIDisplayMedium'), url(../fonts/SFUIDisplayMedium/SFUIDisplay-Medium.woff) format('woff')

@font-face
	font-family: 'SFUIDisplaySemibold'
	src: local('SFUIDisplaySemibold'), url(../fonts/SFUIDisplaySemibold/SFUIDisplay-Semibold.woff) format('woff')

@font-face
	font-family: 'SFUIDisplayRegular'
	src: local('SFUIDisplayRegular'), url(../fonts/SFUIDisplayRegular/SFUIDisplay-Regular.woff) format('woff')

@font-face
	font-family: 'DINRoundPro'
	src: local('DINRoundPro'), url(../fonts/DINRoundPro/DINRoundPro-Medi.woff) format('woff')
