@import "./vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2560px)
	.app-container
		.second-screen
			.header
				.line
					border-width: 0 5.5vw
		//.third-screen
		//	>.footer
		//		.Path-2-Copy
		//			left: calc(50% - 40px)
		//		.path-2-copy-2
		//			right: 13.3vw

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
	.app-container
		>.second-screen
			.header
				.line
					border-width: 0 6vw
		>.third-screen
			> .header
				> .row
					> div
						padding-left: 0
						padding-right: 0
					>.skills-offers
						.offer, .skills
							> p
								line-height: 2
		.section-comment
			.Path-2-Copy-2
				right: calc(50% - 38%)
			.Path-2-Copy
				left: calc(50% - 38%)
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px)
	html
		body
			font-size: 13px

			.app-container
				>.first-screen
					>.header
						padding-top: 100px
						padding-bottom: 130px
						>.header-button
							margin-top: 50px

					>.footer
						>.row
							>.title
								padding-top: 40px
								padding-bottom: 40px
				>.second-screen
					.header
						.line
							border-width: 0 9vw
				>.third-screen
					> .header
						> .row
							>.column, .skills-offers, .respond
								height: 650px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	html
		body
			font-size: 12px
			.app-container
				>.first-screen
					>.header
						>.Logo-Copy
							width: 70%
					>.footer
						>.row
							>.title
								top: 0
								background-image: linear-gradient(to right, #21b4ed, #00c2de)
								>h2, p
									color: #fff
									line-height: 1.5
				>.second-screen
					.header
						padding-top: 40px
						>.react, .rails, .ios, .android
							min-width: 106px
						>.line
							min-width: 106px
							border-width: 0 6vw
					>.row
						>.body
							padding-left: 20px
							padding-right: 20px
							padding-top: 40px
							.slick-slider
								margin-bottom: 40px
								.react, .rails, .ios, .android
									> p
										margin-bottom: 32px
					.footer
						>img
							width: 645px
						>.title
							>.col-md-4, .col-sm-4, .col-xs-4
								width: 201px
								height: 73px
								p
									font-size: 12px
									margin-bottom: 0
								h3
									font-size: 28px
						>.button
							display: none
				>.third-screen
					> .header
						min-height: 606px
						> .row
							min-height: 606px
							background: url(../img/3.svg) 40% bottom no-repeat
							background-size: 270.8px 371px
							.skills-offers
								height: 520px
								padding-top: 40px
								padding-bottom: 40px
								justify-content: space-between
								padding-left: 20px
								padding-right: 20px
								.skills, .offer
									.title
										font-size: 14px
										font-weight: 600
										line-height: 1.57
										letter-spacing: -0.1px
										margin-bottom: 14px
									p
										font-size: 12px
										font-weight: 300
										line-height: 2.2
										letter-spacing: 0
									&.active
										margin-bottom: 0
							.respond
								&.active
									height: 520px
									padding-top: 40px
									padding-bottom: 40px
									padding-left: 20px
									padding-right: 20px
							.nav-tabs
								margin-top: 15px
				.section-comment
					height: 424px
					.slick-slider
						min-height: 424px
						.slick-dots
							bottom: 10px
						.slick-list
							padding: 0
							.slick-track
								>.comment, .slick-slide
									padding: 40px 20px
									>.wrap
										>.name
											font-size: 1.2em
											margin-top: 13px
											margin-bottom: 4px
										>.review
											margin-top: 46px
											&:before
												position: absolute
												line-height: 0.7
												display: block
												content: "\0022"
												font-family: $DINRoundPro
												font-size: 5.625em
												text-align: center
												color: #9b9b9b

											&:before
												top: -33px
												left: calc(50% - 14px)

											&:after
												display: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	html
		body
			.app-container
				>.first-screen
					>.header
						padding-top: 70px
						padding-bottom: 40px
						>.Page-1-Copy-3
							margin-bottom: 36px
						>.Mobile-Web-develop-Copy
							margin-top: 10px
							font-size: 20px
							font-weight: 300
							letter-spacing: 0
						>.header-button
							width: 280px
							height: 48px
							border-radius: 4px
							font-size: 14px
							font-weight: 500
							letter-spacing: -0.2px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

