@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@font-face {
  font-family: 'SFUIDisplay';
  src: local("SFUIDisplay"), url(../fonts/SFUIDisplay/SFUIDisplay-Light.woff) format("woff"); }

@font-face {
  font-family: 'SFUIDisplayMedium';
  src: local("SFUIDisplayMedium"), url(../fonts/SFUIDisplayMedium/SFUIDisplay-Medium.woff) format("woff"); }

@font-face {
  font-family: 'SFUIDisplaySemibold';
  src: local("SFUIDisplaySemibold"), url(../fonts/SFUIDisplaySemibold/SFUIDisplay-Semibold.woff) format("woff"); }

@font-face {
  font-family: 'SFUIDisplayRegular';
  src: local("SFUIDisplayRegular"), url(../fonts/SFUIDisplayRegular/SFUIDisplay-Regular.woff) format("woff"); }

@font-face {
  font-family: 'DINRoundPro';
  src: local("DINRoundPro"), url(../fonts/DINRoundPro/DINRoundPro-Medi.woff) format("woff"); }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "roboto-example", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.svg--s {
  position: absolute; }

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }

.gutter-10.row {
  max-width: 1440px;
  width: 100%;
  margin-right: -5px;
  margin-left: -5px; }

.gutter-10 > [class^="col-"], .gutter-10 [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px; }

.app-container {
  width: 100%;
  padding: 0;
  margin: 0; }
  .app-container > .first-screen {
    display: block;
    position: relative;
    width: 100%; }
    .app-container > .first-screen > .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      height: 900px;
      background-image: radial-gradient(circle at 66% 45%, #fafdff, #ecf0f3);
      background-size: contain;
      padding-top: 159px;
      padding-bottom: 170px;
      position: relative; }
      .app-container > .first-screen > .header:before {
        content: '';
        position: absolute;
        width: 276px;
        height: 620px;
        background: url("../img/page-1.svg") no-repeat;
        left: 0;
        top: calc(50% - 310px);
        z-index: 0; }
      .app-container > .first-screen > .header:after {
        content: '';
        position: absolute;
        width: 263px;
        height: 620px;
        background: url("../img/page-1-copy-2.svg") no-repeat;
        right: 0;
        top: calc(50% - 310px);
        z-index: 0; }
      .app-container > .first-screen > .header > .Logo-Copy {
        max-width: 477px;
        width: 100%;
        min-height: 341px;
        object-fit: contain;
        z-index: 1; }
      .app-container > .first-screen > .header > .Page-1-Copy-3 {
        position: absolute;
        padding-right: 11px;
        z-index: 1; }
      .app-container > .first-screen > .header > .Mobile-Web-develop-Copy {
        max-width: 671px;
        width: 100%;
        min-height: 50px;
        object-fit: contain;
        font-family: "SFUIDisplay", sans-serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 1.04;
        letter-spacing: -0.1px;
        text-align: center;
        color: #0a0c0f;
        margin-top: -62px;
        z-index: 1; }
      .app-container > .first-screen > .header .svg--s {
        position: absolute; }
      .app-container > .first-screen > .header .svg-filters {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px; }
      .app-container > .first-screen > .header > .header-button {
        max-width: 320px;
        width: 100%;
        min-height: 54px;
        font-family: "SFUIDisplayMedium", sans-serif;
        font-size: 18px;
        background-color: #21B4ED;
        font-weight: 500;
        line-height: 54px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.45s ease-out;
        filter: url("/#filter-ripple-2");
        z-index: 1; }
        .app-container > .first-screen > .header > .header-button:hover {
          background-color: #0FABE8; }
    .app-container > .first-screen > .footer {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 350px;
      object-fit: contain;
      background-image: linear-gradient(to right, #21b4ed, #00c2de);
      position: relative; }
      .app-container > .first-screen > .footer > .row > .title {
        position: relative;
        top: -70px;
        min-height: 330px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07);
        padding-top: 47px;
        padding-bottom: 61px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .app-container > .first-screen > .footer > .row > .title > h2 {
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 1.81;
          letter-spacing: -0.1px;
          text-align: center;
          color: #0a0c0f;
          margin: 0;
          margin-bottom: 8px; }
        .app-container > .first-screen > .footer > .row > .title > p {
          font-family: "SFUIDisplay", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          letter-spacing: -0.5px;
          text-align: center;
          color: #0a0c0f;
          margin: 0;
          padding: 0 130px; }
  .app-container .second-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #ffffff;
    box-sizing: border-box; }
    .app-container .second-screen > .header {
      display: flex;
      justify-content: space-between;
      padding-top: 100px; }
      .app-container .second-screen > .header > .react, .app-container .second-screen > .header .rails, .app-container .second-screen > .header .ios, .app-container .second-screen > .header .android {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .app-container .second-screen > .header > .react > img, .app-container .second-screen > .header .rails > img, .app-container .second-screen > .header .ios > img, .app-container .second-screen > .header .android > img {
          cursor: pointer; }
        .app-container .second-screen > .header > .react > svg, .app-container .second-screen > .header .rails > svg, .app-container .second-screen > .header .ios > svg, .app-container .second-screen > .header .android > svg {
          display: none; }
        .app-container .second-screen > .header > .react > h3, .app-container .second-screen > .header .rails > h3, .app-container .second-screen > .header .ios > h3, .app-container .second-screen > .header .android > h3 {
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.1px;
          margin-bottom: 0;
          color: #9b9b9b; }
        .app-container .second-screen > .header > .react:hover > h3, .app-container .second-screen > .header .rails:hover > h3, .app-container .second-screen > .header .ios:hover > h3, .app-container .second-screen > .header .android:hover > h3 {
          color: #000; }
      .app-container .second-screen > .header > .react > .logo {
        width: 123px;
        height: 110px;
        background: url("../img/react-logo-disable.svg") no-repeat;
        background-size: cover;
        background-position: center center; }
      .app-container .second-screen > .header > .react.active > .logo {
        background: url("../img/react-logo-enable.svg") no-repeat;
        display: none; }
      .app-container .second-screen > .header > .react.active > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .react.active > h3 {
        color: #000; }
      .app-container .second-screen > .header > .react.active:hover > .logo {
        background: url("../img/react-logo-enable.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        display: none; }
      .app-container .second-screen > .header > .react.active:hover > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .rails > .logo {
        width: 192px;
        height: 68px;
        background: url("../img/rails-logo-disable.svg") no-repeat;
        background-size: cover;
        background-position: center center; }
      .app-container .second-screen > .header > .rails.active > .logo {
        display: none; }
      .app-container .second-screen > .header > .rails.active > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .rails.active > h3 {
        color: #000; }
      .app-container .second-screen > .header > .rails.active:hover > .logo {
        background: url("../img/rails-logo-enable.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        display: none; }
      .app-container .second-screen > .header > .rails.active:hover > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .ios > .logo {
        width: 75px;
        height: 90px;
        background: url("../img/i-os-disable.svg") no-repeat;
        background-size: contain;
        background-position: center center; }
      .app-container .second-screen > .header > .ios.active > .logo {
        display: none; }
      .app-container .second-screen > .header > .ios.active > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .ios.active > h3 {
        color: #000; }
      .app-container .second-screen > .header > .ios.active:hover > .logo {
        background: url("../img/i-os-enable.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        display: none; }
      .app-container .second-screen > .header > .ios.active:hover > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .android > .logo {
        width: 82.5px;
        height: 90px;
        background: url("../img/android-disable.svg") no-repeat;
        background-size: contain;
        background-position: center center; }
      .app-container .second-screen > .header > .android.active > .logo {
        display: none; }
      .app-container .second-screen > .header > .android.active > svg {
        display: block;
        overflow: visible; }
      .app-container .second-screen > .header > .android.active > h3 {
        color: #000; }
      .app-container .second-screen > .header > .android.active:hover > .logo {
        background: url("../img/android-enable.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        display: none; }
      .app-container .second-screen > .header > .android.active:hover > svg {
        display: block;
        overflow: visible; }
  .app-container .second-screen > .header {
    position: relative; }
    .app-container .second-screen > .header > .platform {
      cursor: pointer; }
      .app-container .second-screen > .header > .platform .logo {
        transition: 0.4s; }
    .app-container .second-screen > .header > .react:hover > .logo {
      background: url("../img/react-logo-hover-copy.svg") no-repeat;
      background-size: contain;
      display: none; }
    .app-container .second-screen > .header > .react:hover > svg {
      display: block;
      overflow: visible; }
    .app-container .second-screen > .header > .rails:hover > .logo {
      background: url("../img/rails-logo-hover-copy.svg") no-repeat;
      background-size: contain;
      display: none; }
    .app-container .second-screen > .header > .rails:hover > svg {
      display: block;
      overflow: visible; }
    .app-container .second-screen > .header > .ios:hover > .logo {
      background: url("../img/i-os-hover-copy.svg") no-repeat;
      background-size: contain;
      display: none; }
    .app-container .second-screen > .header > .ios:hover > svg {
      display: block;
      overflow: visible; }
    .app-container .second-screen > .header > .android:hover > .logo {
      display: none; }
    .app-container .second-screen > .header > .android:hover > svg {
      display: block;
      overflow: visible; }
    .app-container .second-screen > .header .line {
      position: absolute;
      top: 105%;
      left: 0;
      width: 16.7%;
      height: 2px;
      pointer-events: none;
      border: 1px solid #fff;
      border-width: 0 6vw;
      background: #0fabe8;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
      transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22); }
    .app-container .second-screen > .header .platform:nth-child(1).active ~ .line {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .app-container .second-screen > .header .platform:nth-child(2).active ~ .line {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    .app-container .second-screen > .header .platform:nth-child(3).active ~ .line {
      -webkit-transform: translateX(200%);
      transform: translateX(200%); }
    .app-container .second-screen > .header .platform:nth-child(4).active ~ .line {
      -webkit-transform: translateX(300%);
      transform: translateX(300%); }
  .app-container .second-screen > .row > .body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 137px; }
    .app-container .second-screen > .row > .body .slick-slider {
      width: 100%;
      overflow: hidden; }
      .app-container .second-screen > .row > .body .slick-slider:focus {
        outline: none;
        border: none; }
      .app-container .second-screen > .row > .body .slick-slider:active {
        outline: none;
        border: none; }
    .app-container .second-screen > .row > .body .slick-slider {
      margin-bottom: 146px; }
      .app-container .second-screen > .row > .body .slick-slider .slick-track {
        display: flex; }
      .app-container .second-screen > .row > .body .slick-slider .react, .app-container .second-screen > .row > .body .slick-slider .rails, .app-container .second-screen > .row > .body .slick-slider .ios, .app-container .second-screen > .row > .body .slick-slider .android {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .app-container .second-screen > .row > .body .slick-slider .react > .title, .app-container .second-screen > .row > .body .slick-slider .rails > .title, .app-container .second-screen > .row > .body .slick-slider .ios > .title, .app-container .second-screen > .row > .body .slick-slider .android > .title {
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 1.81;
          letter-spacing: -0.1px;
          text-align: center;
          color: #0a0c0f;
          margin-bottom: 8px; }
        .app-container .second-screen > .row > .body .slick-slider .react > p, .app-container .second-screen > .row > .body .slick-slider .rails > p, .app-container .second-screen > .row > .body .slick-slider .ios > p, .app-container .second-screen > .row > .body .slick-slider .android > p {
          font-family: "SFUIDisplay", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          letter-spacing: 1px;
          text-align: center;
          color: #0a0c0f;
          margin: 0;
          margin-bottom: 60px; }
  .app-container .second-screen > .footer {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 900px;
    display: flex;
    justify-content: center; }
    .app-container .second-screen > .footer > img {
      max-width: 1440px;
      width: 100%;
      height: auto; }
    .app-container .second-screen > .footer > .title {
      position: absolute;
      padding-top: 5.5%;
      left: 0;
      width: 100%;
      margin-left: 0; }
      .app-container .second-screen > .footer > .title > .col-md-4, .app-container .second-screen > .footer > .title .col-sm-4 {
        height: 180px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 7vw; }
        .app-container .second-screen > .footer > .title > .col-md-4 > p, .app-container .second-screen > .footer > .title .col-sm-4 > p {
          font-family: "SFUIDisplayRegular", sans-serif;
          font-size: 16px;
          line-height: 1.38;
          letter-spacing: 0px;
          color: #0a0c0f;
          margin: 0;
          margin-bottom: 10px; }
        .app-container .second-screen > .footer > .title > .col-md-4 > h3, .app-container .second-screen > .footer > .title .col-sm-4 > h3 {
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 44px;
          font-weight: 600;
          line-height: 1.14;
          letter-spacing: 0.2px;
          color: #0a0c0f;
          margin: 0; }
    .app-container .second-screen > .footer > img {
      width: 100%;
      max-height: 900px;
      height: 100%; }
    .app-container .second-screen > .footer > .button {
      position: absolute;
      bottom: 9%;
      width: 100%;
      right: 0;
      display: flex;
      justify-content: flex-end; }
      .app-container .second-screen > .footer > .button > .row {
        margin-right: 0; }
        .app-container .second-screen > .footer > .button > .row > div {
          max-width: 120px;
          height: 120px;
          transform: rotate(-360deg);
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0; }
        .app-container .second-screen > .footer > .button > .row > img {
          width: 24px;
          height: 48px; }
  .app-container > .third-screen > .header {
    width: 100%;
    height: 720px;
    object-fit: contain;
    background: linear-gradient(to right, #00c2de, #27cecb);
    display: flex;
    justify-content: center; }
    .app-container > .third-screen > .header > .row {
      height: 100%;
      margin-left: 0;
      background: url(../img/3.svg) 88% bottom no-repeat; }
      .app-container > .third-screen > .header > .row > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 70px; }
        .app-container > .third-screen > .header > .row > div > .profession > h2 {
          display: inline-block;
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.1px;
          color: #ffffff;
          padding-bottom: 10px;
          border-bottom: 1px solid #fff;
          cursor: pointer;
          margin: 0; }
        .app-container > .third-screen > .header > .row > div > .profession > .price, .app-container > .third-screen > .header > .row > div > .profession .button {
          display: none; }
        .app-container > .third-screen > .header > .row > div > .profession.active {
          margin-bottom: 25px;
          margin-top: 25px; }
          .app-container > .third-screen > .header > .row > div > .profession.active > h2 {
            object-fit: contain;
            font-family: "SFUIDisplaySemibold", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.14;
            letter-spacing: 0.2px;
            color: #ffffff;
            border-bottom: none;
            cursor: default; }
          .app-container > .third-screen > .header > .row > div > .profession.active > .price {
            display: block;
            object-fit: contain;
            font-family: "SFUIDisplay", sans-serif;
            font-size: 32px;
            font-weight: 300;
            line-height: 1.56;
            letter-spacing: 0px;
            color: #ffffff;
            margin-top: 10px; }
          .app-container > .third-screen > .header > .row > div > .profession.active > .button {
            display: block;
            width: 270px;
            height: 54px;
            object-fit: contain;
            background-color: #fff;
            border-radius: 2px;
            font-family: "SFUIDisplayMedium", sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 54px;
            text-align: center;
            color: #27c6ce;
            cursor: pointer;
            margin-top: 16px; }
            .app-container > .third-screen > .header > .row > div > .profession.active > .button:hover {
              color: #0fabe8; }
            .app-container > .third-screen > .header > .row > div > .profession.active > .button.active {
              background-color: transparent;
              color: #fff;
              border: 1px solid #fff; }
              .app-container > .third-screen > .header > .row > div > .profession.active > .button.active:hover {
                background-color: #fff;
                color: #27c6ce; }
          .app-container > .third-screen > .header > .row > div > .profession.active > #qa-show-button {
            filter: url("/#qa-show-form"); }
          .app-container > .third-screen > .header > .row > div > .profession.active #support-show-form-button {
            filter: url("/#support-show-form"); }
          .app-container > .third-screen > .header > .row > div > .profession.active #lead-show-form-button {
            filter: url("/#lead-show-form"); }
          .app-container > .third-screen > .header > .row > div > .profession.active #front-show-form-button {
            filter: url("/#front-show-form"); }
          .app-container > .third-screen > .header > .row > div > .profession.active #web-show-form-button {
            filter: url("/#web-show-form"); }
          .app-container > .third-screen > .header > .row > div > .profession.active #html-show-form-button {
            filter: url("/#html-show-form"); }
        .app-container > .third-screen > .header > .row > div > .profession:first-child {
          margin-top: 0; }
        .app-container > .third-screen > .header > .row > div > .profession:last-child {
          margin-bottom: 0; }
      .app-container > .third-screen > .header > .row > .skills-offers {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 70px;
        padding-bottom: 70px; }
        .app-container > .third-screen > .header > .row > .skills-offers.active {
          display: flex; }
        .app-container > .third-screen > .header > .row > .skills-offers > .skills, .app-container > .third-screen > .header > .row > .skills-offers .offer {
          display: none; }
        .app-container > .third-screen > .header > .row > .skills-offers > .skills.active {
          display: block;
          margin-bottom: 70px; }
        .app-container > .third-screen > .header > .row > .skills-offers > .offer.active {
          display: block; }
        .app-container > .third-screen > .header > .row > .skills-offers > .skills > .title, .app-container > .third-screen > .header > .row > .skills-offers .offer > .title {
          font-family: "SFUIDisplayRegular", sans-serif;
          font-size: 18px;
          line-height: 1.22;
          letter-spacing: -0.1px;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 20px; }
        .app-container > .third-screen > .header > .row > .skills-offers > .skills > p, .app-container > .third-screen > .header > .row > .skills-offers .offer > p {
          font-family: "SFUIDisplaySemibold", sans-serif;
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          line-height: 3;
          letter-spacing: -0.1px;
          color: #ffffff; }
      .app-container > .third-screen > .header > .row > .respond {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        max-width: 460px;
        padding: 105px 0 105px 13px;
        width: 100%;
        height: 100%; }
        .app-container > .third-screen > .header > .row > .respond.active {
          display: flex; }
        .app-container > .third-screen > .header > .row > .respond > .wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 415px;
          -moz-placeholder-color: rgba(255, 255, 255, 0.7);
          -ms-input-placeholder-color: rgba(255, 255, 255, 0.7); }
          .app-container > .third-screen > .header > .row > .respond > .wrap > label {
            width: 100%;
            position: relative; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > label:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 1px;
              top: -20px; }
          .app-container > .third-screen > .header > .row > .respond > .wrap > input {
            width: 100%;
            height: 36px;
            border-top: none;
            border-left: none;
            border-right: none;
            box-shadow: none;
            border-bottom: 1px solid #fff;
            background-color: transparent;
            font-family: "SFUIDisplayRegular", sans-serif;
            font-size: 16px;
            text-align: left;
            color: rgba(255, 255, 255, 0.7);
            position: relative; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus {
              outline: 0;
              outline-offset: 0; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid {
              font-family: "SFUIDisplayRegular", sans-serif;
              font-size: 16px;
              text-align: left;
              color: #f8e81c;
              border-bottom: 1px solid #f8e81c; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid::-webkit-input-placeholder {
              color: #f8e81c; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid::-moz-placeholder {
              color: #f8e81c; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid:-moz-placeholder {
              color: #f8e81c; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid:-ms-input-placeholder {
              color: #f8e81c; }
          .app-container > .third-screen > .header > .row > .respond > .wrap ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .app-container > .third-screen > .header > .row > .respond > .wrap ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .app-container > .third-screen > .header > .row > .respond > .wrap > label:after {
            position: absolute;
            content: '*';
            font-family: "SFUIDisplayRegular", sans-serif;
            font-size: 16px;
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
            top: -50px;
            right: 5px; }
          .app-container > .third-screen > .header > .row > .respond > .wrap > input:focus:required:invalid + label:after {
            color: #f8e81c; }
          .app-container > .third-screen > .header > .row > .respond > .wrap > .drop-zone {
            max-width: 460px;
            width: 100%;
            height: 54px;
            border-radius: 4px;
            border: dashed 1.5px #ffffff;
            cursor: pointer; }
            .app-container > .third-screen > .header > .row > .respond > .wrap > .drop-zone > p {
              font-family: "SFUIDisplayMedium", sans-serif;
              font-size: 18px;
              font-weight: 500;
              line-height: 54px;
              text-align: center;
              color: #ffffff; }
          .app-container > .third-screen > .header > .row > .respond > .wrap > .drop-file > ul {
            padding: 0;
            text-decoration: none;
            list-style: none;
            font-family: "SFUIDisplayMedium", sans-serif;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
            cursor: default; }
        .app-container > .third-screen > .header > .row > .respond > button {
          width: 270px;
          height: 54px;
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.22;
          text-align: center;
          color: #27c6ce;
          border: none;
          border-radius: 5px;
          background-color: #fff;
          margin-top: 62px; }
          .app-container > .third-screen > .header > .row > .respond > button:hover {
            color: #0fabe8; }
        .app-container > .third-screen > .header > .row > .respond > #show-form-button {
          filter: url("/#show-form"); }
  .app-container > .section-comment {
    height: 580px;
    position: relative;
    background-color: #f0f6fa; }
    .app-container > .section-comment .Path-2-Copy {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 558px);
      z-index: 100;
      cursor: pointer;
      stroke-opacity: 0.5; }
      .app-container > .section-comment .Path-2-Copy:hover path {
        stroke-opacity: 1; }
    .app-container > .section-comment .Path-2-Copy-2 {
      position: absolute;
      top: calc(50% - 32px);
      right: calc(50% - 558px);
      z-index: 100;
      cursor: pointer;
      stroke-opacity: 0.5; }
      .app-container > .section-comment .Path-2-Copy-2:hover path {
        stroke-opacity: 1; }
    .app-container > .section-comment .slick-slider {
      min-height: 580px;
      display: flex;
      overflow: visible; }
      .app-container > .section-comment .slick-slider:focus {
        outline: none;
        border: none; }
      .app-container > .section-comment .slick-slider:active {
        outline: none;
        border: none; }
      .app-container > .section-comment .slick-slider .slick-list {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .app-container > .section-comment .slick-slider .slick-list .slick-track {
          display: flex;
          width: 50vw;
          height: 100%; }
          .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide {
            position: relative;
            display: flex;
            border-radius: 4px;
            padding: 120px 11.3vw;
            height: 100%;
            background-color: #f0f6fa; }
            .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap {
              margin: 0 auto;
              height: 340px;
              position: relative;
              max-width: 720px;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: #ffffff;
              box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07);
              padding: 44px 120px 49px; }
              .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > img, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > img {
                width: 90px;
                height: 90px;
                margin-bottom: 8px; }
              .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .name, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .name {
                font-family: "SFUIDisplaySemibold", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.1px;
                text-align: center;
                color: #0a0c0f;
                margin-bottom: 5px; }
              .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .company, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .company {
                font-family: "SFUIDisplayRegular", sans-serif;
                font-size: 18px;
                line-height: 1.22;
                letter-spacing: -0.1px;
                text-align: center;
                color: #9b9b9b; }
              .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .review, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .review {
                margin-top: 32px;
                font-family: "SFUIDisplayRegular", sans-serif;
                font-size: 16px;
                line-height: 1.63;
                letter-spacing: -0.4px;
                text-align: center;
                color: #0a0c0f;
                position: relative;
                white-space: normal; }
                .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .review:before, .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .review:after, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .review:before, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .review:after {
                  position: absolute;
                  line-height: 0.7;
                  display: block;
                  content: "\0022";
                  font-family: "DINRoundPro", sans-serif;
                  font-size: 90px;
                  text-align: center;
                  color: #9b9b9b; }
                .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .review:before, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .review:before {
                  top: 0;
                  left: -78px; }
                .app-container > .section-comment .slick-slider .slick-list .slick-track > .comment > .wrap > .review:after, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap > .review:after {
                  top: 0px;
                  right: -78px; }
          .app-container > .section-comment .slick-slider .slick-list .slick-track > .slick-center > .wrap, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-active > .wrap, .app-container > .section-comment .slick-slider .slick-list .slick-track .slick-slide > .wrap {
            max-width: 720px;
            width: 100%; }
  .app-container > footer {
    width: 100%;
    min-height: 720px;
    object-fit: contain;
    background-image: linear-gradient(to left, #27c4ce, #33d4bd);
    display: flex;
    justify-content: center; }
    .app-container > footer > .row {
      height: 100%; }
      .app-container > footer > .row > form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 0 74px 13px; }
        .app-container > footer > .row > form > legend {
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 44px;
          font-weight: 600;
          line-height: 1.14;
          letter-spacing: 0.2px;
          color: #ffffff;
          margin-bottom: 73px;
          border: none; }
        .app-container > footer > .row > form > .wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 360px;
          position: relative;
          -moz-placeholder-color: rgba(255, 255, 255, 0.7);
          -ms-input-placeholder-color: rgba(255, 255, 255, 0.7); }
          .app-container > footer > .row > form > .wrap > label {
            width: 100%;
            position: relative; }
            .app-container > footer > .row > form > .wrap > label:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 1px;
              top: -17px; }
          .app-container > footer > .row > form > .wrap > input {
            width: 100%;
            height: 36px;
            border-top: none;
            border-left: none;
            border-right: none;
            box-shadow: none;
            border-bottom: 1px solid #fff;
            background-color: transparent;
            font-family: "SFUIDisplayRegular", sans-serif;
            font-size: 16px;
            text-align: left;
            color: rgba(255, 255, 255, 0.7);
            position: relative; }
            .app-container > footer > .row > form > .wrap > input:focus {
              outline: 0;
              outline-offset: 0; }
            .app-container > footer > .row > form > .wrap > input:focus:required:invalid {
              font-family: "SFUIDisplayRegular", sans-serif;
              font-size: 16px;
              text-align: left;
              color: #f8e81c;
              border-bottom: 1px solid #f8e81c; }
            .app-container > footer > .row > form > .wrap > input:focus:required:invalid::-webkit-input-placeholder {
              color: #f8e81c; }
            .app-container > footer > .row > form > .wrap > input:focus:required:invalid::-moz-placeholder {
              color: #f8e81c; }
            .app-container > footer > .row > form > .wrap > input:focus:required:invalid:-moz-placeholder {
              color: #f8e81c; }
            .app-container > footer > .row > form > .wrap > input:focus:required:invalid:-ms-input-placeholder {
              color: #f8e81c; }
          .app-container > footer > .row > form > .wrap ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .app-container > footer > .row > form > .wrap ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .app-container > footer > .row > form > .wrap > label[for=email]:after, .app-container > footer > .row > form > .wrap label[for=name]:after, .app-container > footer > .row > form > .wrap label[for=project]:after {
            position: absolute;
            content: '*';
            font-family: "SFUIDisplayRegular", sans-serif;
            font-size: 16px;
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
            top: -47px;
            right: 5px; }
          .app-container > footer > .row > form > .wrap > input:focus:required:invalid + label:after {
            color: #f8e81c; }
        .app-container > footer > .row > form > button {
          width: 270px;
          height: 54px;
          font-family: "SFUIDisplaySemibold", sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.22;
          text-align: center;
          color: #27c6ce;
          border: none;
          border-radius: 5px;
          background-color: #fff;
          margin-top: 43px; }
          .app-container > footer > .row > form > button:hover {
            color: #0fabe8; }
        .app-container > footer > .row > form #send-respond-button {
          filter: url("/#send-respond"); }
      .app-container > footer > .row > .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 345px;
        padding: 70px 0 70px 10px;
        width: 100%;
        min-height: 600px; }
        .app-container > footer > .row > .contact > img {
          width: 250px;
          height: 59.4px; }
        .app-container > footer > .row > .contact > .email, .app-container > footer > .row > .contact .adress {
          font-family: "SFUIDisplayRegular", sans-serif;
          font-size: 18px;
          line-height: 1.22;
          letter-spacing: -0.1px;
          color: rgba(255, 255, 255, 0.7); }
          .app-container > footer > .row > .contact > .email > span, .app-container > footer > .row > .contact .adress > span {
            font-family: "SFUIDisplayRegular", sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.1px;
            color: #ffffff; }
        .app-container > footer > .row > .contact > .adress {
          margin-top: 10px; }
        .app-container > footer > .row > .contact > .phone {
          font-family: "SFUIDisplayRegular", sans-serif;
          font-size: 36px;
          font-weight: 500;
          line-height: 0.83;
          letter-spacing: -0.5px;
          color: #ffffff;
          margin-top: 40px; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 2560px) {
  .app-container .second-screen .header .line {
    border-width: 0 5.5vw; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
  .app-container .second-screen .header .line {
    border-width: 0 6vw; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
