@import "./fonts"
@import "./vars"
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
@import "../components/Vacancy/VacancyMobile/style.css"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

	body
		font-size: 16px
		min-width: 320px
		position: relative
		line-height: 1.75
		font-family: $default-font
		overflow-x: hidden
		opacity: 1

.svg--s
	position: absolute

.svg-filters
	position: absolute
	visibility: hidden
	width: 1px
	height: 1px

.gutter-10
	&.row
		max-width: 1440px
		width: 100%
		margin-right: -5px
		margin-left: -5px

.gutter-10
	> [class^="col-"], [class^=" col-"]
		padding-right: 5px
		padding-left: 5px

.app-container
	width: 100%
	padding: 0
	margin: 0
	overflow: hidden

	>.first-screen
		display: block
		position: relative
		width: 100%

		>.header
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			max-width: 100%
			//background-image: radial-gradient(circle at 66% 45%, #fafdff, #ecf0f3)
			background-color: #F6F9FB
			background-size: contain
			padding-top: 159px
			padding-bottom: 170px
			position: relative
			min-height: 600px
			height: 100vh

			&:before
				content: ''
				position: absolute
				max-width: 276px
				min-width: 90px
				width: 18%
				height: 700px
				background: url("../img/page-1.svg") no-repeat
				background-size: contain
				left: 0
				top: 15vh
				z-index: 10

			&:after
				content: ''
				position: absolute
				max-width: 276px
				min-width: 90px
				width: 18%
				height: 700px
				background: url("../img/page-1-copy-2.svg") no-repeat
				background-size: contain
				right: 0
				top: 15vh
				z-index: 10
			>.logo
				position: relative
				width: 300px
				height: 300px
				margin-bottom: 5.5vh
				>.Page-1-Copy-3
					width: 300px
					height: auto
					z-index: 5
					position: relative
				>.logoBG
					position: absolute
					top: 0
					left: 0
					width: 300px
					height: auto
					z-index: 1
					animation: App-logo-spin infinite 100s linear



			>.Logo-Copy
				max-width: 477px
				width: 100%
				object-fit: contain
				z-index: 11
				min-height: 100px

			>.Mobile-Web-develop-Copy
				max-width: 671px
				width: 100%
				min-height: 50px
				object-fit: contain
				font-family: $SFUID
				font-size: 3em
				font-weight: 300
				line-height: 1.04
				letter-spacing: -0.1px
				text-align: center
				color: #0a0c0f
				margin-top: 3.33vh
				position: relative
				z-index: 12

			.svg--s
				position: absolute

			.svg-filters
				position: absolute
				visibility: hidden
				width: 1px
				height: 1px

			>.header-button
				position: relative
				max-width: 320px
				width: 100%
				min-height: 54px
				font-family: 'SFUIDTextMedium', sans-serif
				font-size: 1.125em
				background-color: #21B4ED
				font-weight: 500
				line-height: 54px
				text-align: center
				color: #ffffff
				cursor: pointer
				transition: all 0.45s ease-out
				filter: url("/#filter-ripple-2")
				z-index: 1
				margin-top: 10.5vh
				overflow: hidden
				border-radius: 4px

				&:hover
					background-color: #0FABE8

		>.footer
			display: flex
			justify-content: center
			width: 100%
			object-fit: contain
			background-image: linear-gradient(to right, #21b4ed, #00c2de)
			position: relative

			>.row

				>.title
					position: relative
					top: -60px
					border-radius: 4px
					background-color: #ffffff
					box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07)
					padding-top: 47px
					padding-bottom: 61px
					display: flex
					flex-direction: column
					justify-content: space-between


					>h2
						font-family: $SFUIDsemibold
						font-size: 2em
						font-weight: 600
						line-height: 1.81
						letter-spacing: -0.1px
						text-align: center
						color: #0a0c0f
						margin: 0
						margin-bottom: 8px

					>p
						font-family: 'SFUITextLight', sans-serif
						font-size: 1em
						font-weight: 300
						line-height: 1.63
						letter-spacing: 1px
						text-align: center
						color: #0a0c0f
						margin: 0
						padding: 0 13%

	.second-screen
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		height: 100%
		object-fit: contain
		background-color: #ffffff
		box-sizing: border-box

		.header
			display: flex
			justify-content: space-between
			padding-top: 100px

			.react, .rails, .ios, .android
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				min-width: 192px
				padding: 0

				.logo
					max-width: 192px
					svg
						min-height: 0
						min-width: 0
						path, ellipse
							fill: none
							stroke: #9b9b9b

				h3
					font-family: 'SFUITextSemibold', sans-serif
					font-size: 1.25em
					font-weight: 600
					line-height: 1.5
					letter-spacing: -0.1px
					margin-bottom: 0
					color: #9b9b9b

				&:hover
					>h3
						color: #000

			.react
				&.active
					svg
						g, path, ellipse
							fill: #00D8FF !important
							stroke: none
					h3
						color: #000


			.rails
				&.active
					svg
						g, path
							fill: #D0011B !important
							stroke: none
					h3
						color: #000

			.ios
				&.active
					svg
						g, path
							fill: #0A0C0F !important
							stroke: none
					h3
						color: #000

			.android
				&.active
					svg
						g, path
							fill: #7ED321 !important
							stroke: none
					h3
						color: #000

	.second-screen
		>.header
			position: relative
			>.platform
				cursor: pointer
				.logo
					transition: 0.4s

			.line
				position: absolute
				top: 105%
				left: 0
				width: 16.7%
				min-width: 192px
				height: 2px
				pointer-events: none
				border: 1px solid #fff
				border-width: 0 6vw
				background: #0fabe8
				-webkit-transition: -webkit-transform 0.5s
				transition: transform 0.5s
				-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1)
				-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22)
				transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22)

			.platform:nth-child(1).active ~ .line
				-webkit-transform: translateX(0)
				transform: translateX(0)

			.platform:nth-child(2).active ~ .line
				-webkit-transform: translateX(100%)
				transform: translateX(100%)

			.platform:nth-child(3).active ~ .line
				-webkit-transform: translateX(200%)
				transform: translateX(200%)

			.platform:nth-child(4).active ~ .line
				-webkit-transform: translateX(300%)
				transform: translateX(300%)

		>.row

			>.body
				display: flex
				flex-direction: row
				justify-content: space-around
				padding-top: 137px

				.slick-slider
					width: 100%
					overflow: hidden

					&:focus
						outline: none
						border: none

					&:active
						outline: none
						border: none

				.slick-slider
					margin-bottom: 146px

					.slick-track
						display: flex

					.react, .rails, .ios, .android
						display: flex
						flex-direction: column
						justify-content: space-between
						align-items: center

						>.title
							font-family: $SFUIDsemibold
							font-size: 2em
							font-weight: 600
							line-height: 1.81
							letter-spacing: -0.1px
							text-align: center
							color: #0a0c0f
							margin-bottom: 8px

						>p
							font-family: 'SFUITextLight', sans-serif
							font-size: 1em
							font-weight: 300
							line-height: 1.63
							letter-spacing: 1px
							text-align: center
							color: #0a0c0f
							margin: 0
							margin-bottom: 60px

		>.footer
			display: flex
			position: relative
			max-width: 2560px
			width: 100%
			max-height: 900px
			justify-content: center

			.backgroundAnim0
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				animation-name: backgroundAnim0
				animation-duration: 2s
				animation-timing-function: ease-out
				background: linear-gradient(to right, #26bf59, #4ede7e)

			.backgroundAnim1
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				animation-name: backgroundAnim1
				animation-duration: 2s
				animation-timing-function: ease-out
				background: linear-gradient(to right, #ff931e, #ffaa4d)

			.backgroundAnim2
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				animation-name: backgroundAnim2
				animation-duration: 2s
				animation-timing-function: ease-out
				background: linear-gradient(to right, #62F8CD, #66F9D8)

			.parallax
				width: 1440px
				height: auto
				position: relative
				padding: 0px
				img
					max-width: 500px
					width: 100%
					height: auto
			.parallax, .portfolio-mobile
				.first
					top: 1%
					left: 1%
					position: absolute

				.second
					top: 1%
					left: 31%
					position: absolute

				.third
					top: 1%
					left: 60%
					position: absolute

				.fourth
					top: 31%
					left: 6%
					position: absolute

				.sixth
					top: 31%
					left: 35%
					position: absolute

				.tenth
					top: 31%
					left: 63%
					position: absolute

				.seventh
					top: 62%
					left: 9%
					position: absolute

				.eighth
					top: 62%
					left: 37%
					position: absolute

				.ninth
					top: 62%
					left: 66%
					position: absolute

				.secondTD
					top: 7%
					left: 57%
					position: absolute

				.thirdTD
					top: 33%
					left: 31%
					position: absolute

				.fourthTD
					top: 59%
					left: 3%
					position: absolute

				.eighthTD
					top: 21%
					left: 80%
					position: absolute

				.seventhTD
					top: 35%
					left: 42%
					position: absolute

				.firstTD
					top: 80%
					left: 23%
					position: absolute

				.sixthTD
					top: 20%
					left: 20%
					position: absolute

				.ninthTD
					top: 63%
					left: 61%
					position: absolute

			.portfolio-mobile
				width: 768px
				min-height: 400px
				height: auto
				position: relative
				padding: 0px
				img
					width: 230px
					height: auto
					position: absolute

				.secondTD
					top: -5%
					left: 54%
					position: absolute

				.thirdTD
					top: 26%
					left: 27%
					position: absolute

				.fourthTD
					top: 57%
					left: 0%
					position: absolute

				.eighthTD
					top: 15%
					left: 84%
					position: absolute

				.seventhTD
					top: 28%
					left: 41%
					position: absolute

				.firstTD
					top: 89%
					left: 24%
					position: absolute

				.sixthTD
					top: 10%
					left: 15%
					position: absolute

				.ninthTD
					top: 66%
					left: 62%
					position: absolute

			.slick-slider
				width: 1440px
				min-height: 400px
				height: auto
				.slick-list
					.slick-track
						.slick-slide
							overflow: hidden
							&.parallax
								height: 900px
								position: relative
								.layers
									position: relative
									width: 100%
									height: 100%
									img
										position: absolute
				.slick-dots
					bottom: 10px
					li
						margin: 0 7px
						button:before
							color: #fff
							font-size: 15px
							opacity: .5
						&.slick-active
							button:before
								opacity: 1
			>img
				max-width: 1440px
				width: 100%
				height: auto

			>.title
				position: absolute
				padding-top: 5.5%
				left: 0
				width: 100%
				margin-left: 0

				>.col-md-4, .col-sm-4, .col-xs-4
					height: 180px
					background-color: #ffffff
					display: flex
					flex-direction: column
					justify-content: center
					align-items: flex-start
					padding-left: 7vw

					>p
						font-family: 'SFUITextLight', sans-serif
						font-size: 1em
						line-height: 1.38
						letter-spacing: 0px
						color: #0a0c0f
						margin: 0
						margin-bottom: 10px

					>h3
						font-family: $SFUIDsemibold
						font-size: 2.75em
						font-weight: 600
						line-height: 1.14
						letter-spacing: 0.2px
						color: #0a0c0f
						margin: 0

			>img
				width: 100%
				max-height: 900px
				min-height: 400px
				height: 100%

			>.button
				position: absolute
				bottom: 9%
				width: 100%
				right: 0
				display: flex
				justify-content: flex-end

				>.row
					margin-right: 0

					>div
						max-width: 120px
						height: 120px
						transform: rotate(-360deg)
						background-color: #ffffff
						display: flex
						justify-content: center
						align-items: center
						padding: 0

					>img
						width: 24px
						height: 48px

	>.third-screen

		>.header
			width: 100%
			height: auto
			object-fit: contain
			background: linear-gradient(to right, #00c2de, #27cecb)
			display: flex
			justify-content: center

			>.row
				height: 100%
				margin-left: -5px
				background: url(../img/3.svg) 88% bottom no-repeat

				.column
					width: 410px

				.column, .skills-offers
					height: 720px
					display: flex
					flex-direction: column
					justify-content: space-between
					padding-top: 70px
					padding-bottom: 70px
					padding-left: 0
					padding-right: 0

					>.profession
						transition: all 0.5s

						>h2
							display: inline-block
							font-family: $SFUIDsemibold
							font-size: 1.25em
							font-weight: 600
							line-height: 1
							letter-spacing: 0px
							color: #ffffff
							padding-bottom: 10px
							border-bottom: 1px solid #fff
							cursor: pointer
							margin: 0

						>.price, .button
							display: none

						&.active
							margin-bottom: 25px
							margin-top: 25px

							>h2
								object-fit: contain
								font-family: $SFUIDsemibold
								font-size: 2.3em
								font-weight: 600
								line-height: 1.14
								letter-spacing: 0px
								color: #ffffff
								border-bottom: none
								cursor: default

							>.price
								display: block
								object-fit: contain
								font-family: $SFUID
								font-size: 2em
								font-weight: 300
								line-height: 1.56
								letter-spacing: 0px
								color: #ffffff
								margin-top: 10px

							>.button
								display: block
								max-width: 270px
								width: 100%
								height: 54px
								object-fit: contain
								background-color: #fff
								border-radius: 4px
								font-family: 'SFUIDTextMedium', sans-serif
								font-size: 1.125em
								font-weight: 500
								line-height: 54px
								text-align: center
								color: #27c6ce
								cursor: pointer
								margin-top: 16px
								position: relative
								overflow: hidden
								&:after
									z-index: 0

								&:hover
									color: #0fabe8

								&.active
									background-color: transparent
									color: #fff
									border: 1px solid #fff

									&:hover
										background-color: #fff
										color: #27c6ce

							>#qa-show-button
								filter: url("/#qa-show-form")

							#support-show-form-button
								filter: url('/#support-show-form')

							#lead-show-form-button
								filter: url('/#lead-show-form')

							#front-show-form-button
								filter: url('/#front-show-form')

							#web-show-form-button
								filter: url('/#web-show-form')

							#html-show-form-button
								filter: url('/#html-show-form')

						&:first-child
							margin-top: 0

						&:last-child
							margin-bottom: 0

				.skills-offers
					display: none
					flex-direction: column
					justify-content: space-around
					padding-top: 70px
					padding-bottom: 70px

					&.active
						display: flex

					>.skills, .offer
						display: none

					>.skills
						transition: all 0.5s

						&.active
							display: block
							margin-bottom: 70px

					>.offer
						transition: all 0.5s

						&.active
							display: block

					>.skills, .offer

						>.title
							font-family: 'SFUITextRegular', sans-serif
							font-size: 1.25em
							line-height: 1.22
							letter-spacing: 1px
							font-weight: 600
							color: #fff
							margin-bottom: 20px

						>p
							font-family: 'SFUITextLight', sans-serif
							margin: 0
							font-size: 1em
							font-weight: 300
							line-height: 2.8
							letter-spacing: 1px
							color: #ffffff

				.respond
					display: none
					flex-direction: column
					justify-content: space-between
					max-width: 460px
					padding: 105px 0 105px 13px
					height: 720px

					&.active
						display: flex

					>.wrap
						display: flex
						flex-direction: column
						justify-content: space-between
						height: 415px

						>label[for=name-respond], label[for=email-respond]
							width: 100%
							position: relative
							&:before
								position: absolute
								content: ''
								width: 100%
								height: 1px
								top: -20px
							&:after
								position: absolute
								content: '*'
								font-family: $SFUIDregular
								font-size: 1em
								text-align: right
								color: rgba(255, 255, 255, 0.7)
								top: -50px
								right: 5px

						>input
							width: 100%
							height: 36px
							border-top: none
							border-left: none
							border-right: none
							box-shadow: none
							border-bottom: 1px solid #fff
							background-color: transparent
							font-family: $SFUIDregular
							font-size: 1em
							letter-spacing: 1px
							text-align: left
							color: rgba(255, 255, 255, 0.7)
							position: relative

							&:focus
								outline: 0
								outline-offset: 0

							&:focus:required:invalid
								font-family: $SFUIDregular
								font-size: 1em
								text-align: left
								color: #f8e81c
								border-bottom: 1px solid #f8e81c
							&:focus:required:invalid::-webkit-input-placeholder
								color: #f8e81c
							&:focus:required:invalid::-moz-placeholder
								color: #f8e81c
							&:focus:required:invalid:-moz-placeholder
								color: #f8e81c
							&:focus:required:invalid:-ms-input-placeholder
								color: #f8e81c

						::-webkit-input-placeholder
							color: rgba(255, 255, 255, 0.7)
						::-moz-placeholder
							color: rgba(255, 255, 255, 0.7)
						:-moz-placeholder
							color: rgba(255, 255, 255, 0.7)
						:-ms-input-placeholder
							color: rgba(255, 255, 255, 0.7)

						>label


						>input:focus:required:invalid + label:after
							color: #f8e81c

						>.drop-zone
							max-width: 460px
							width: 100%
							height: 54px
							border-radius: 4px
							border: dashed 1.5px #ffffff
							cursor: pointer
							>p
								font-family: 'SFUIDTextMedium', sans-serif
								font-size: 1.125em
								font-weight: 500
								letter-spacing: 1px
								line-height: 54px
								text-align: center
								color: #ffffff
						>.drop-zone
							position: relative
							overflow: hidden
							&:after
								z-index: 0

						>.drop-file
							>ul
								padding: 0
								text-decoration: none
								list-style: none
								font-family: $SFUIDtext
								font-size: 0.875em
								letter-spacing: 1px
								text-align: center
								color: #ffffff
								cursor: default

					>button
						max-width: 270px
						height: 54px
						font-family: 'SFUIDTextMedium', sans-serif
						font-size: 1.125em
						font-weight: 500
						letter-spacing: 1px
						line-height: 1.22
						text-align: center
						color: #27c6ce
						border: none
						border-radius: 4px
						background-color: #fff
						margin-top: 62px
						position: relative
						overflow: hidden

						&:hover
							color: #0fabe8

					>#show-form-button
						filter: url('/#show-form')

				.nav-tabs
					padding-left: 20px
					padding-right: 20px
					display: flex
					border-bottom: none

					> li
						width: 100%
						border: 1px solid #fff
						border-radius: 2px
						> a
							background-color: transparent
							font-family: $SFUIDregular
							border: none
							color: #fff
							text-align: center
							font-size: 14px
							line-height: 1.29
							letter-spacing: 1px
						&.active
							background-color: #fff
							> a
								color: #27c6ce
					> li:first-child
						border-bottom-right-radius: 0
						border-top-right-radius: 0
					> li:last-child
						border-bottom-left-radius: 0
						border-top-left-radius: 0

				.respond
					&.mobile
						max-width: 800px

	.section-comment
		height: 580px
		position: relative
		background-color: #f0f6fa

		.Path-2-Copy
			position: absolute
			top: calc(50% - 32px)
			left: calc(50% - 34%)
			z-index: 100
			cursor: pointer
			stroke-opacity: 0.5
			&:hover
				path
					stroke-opacity: 1

		.Path-2-Copy-2
			position: absolute
			top: calc(50% - 32px)
			right: calc(50% - 34%)
			z-index: 100
			cursor: pointer
			stroke-opacity: 0.5
			&:hover
				path
					stroke-opacity: 1

		.slick-slider
			min-height: 580px
			display: flex
			overflow: visible

			&:focus
				outline: none
				border: none

			&:active
				outline: none
				border: none

			.slick-list
				width: 100%
				height: 100%
				overflow: hidden

				.slick-track
					display: flex
					width: 50vw
					height: 100%

					>.comment, .slick-slide
						position: relative
						display: flex
						border-radius: 4px
						padding: 120px 11.3vw
						height: 100%
						background-color: #f0f6fa

						>.wrap
							margin: 0 auto
							height: 340px
							position: relative
							max-width: 720px
							width: 100%
							display: flex
							flex-direction: column
							justify-content: center
							align-items: center
							background-color: #ffffff
							box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07)
							padding: 0 11%

							>img
								width: 90px
								height: 90px

							>.name
								font-family: 'SFUITextSemibold', sans-serif
								font-size: 1.25em
								font-weight: 600
								line-height: 1.5
								letter-spacing: 0
								text-align: center
								color: #0a0c0f
								margin-bottom: 5px

							>.company
								font-family: 'SFUITextRegular', sans-serif
								font-size: 1.125em
								line-height: 1.22
								letter-spacing: normal
								text-align: center
								color: #9b9b9b

							>.review
								margin-top: 32px
								font-family: 'SFUITextLight', sans-serif
								font-size: 1em
								line-height: 1.63
								letter-spacing: normal
								text-align: center
								color: #0a0c0f
								position: relative
								white-space: normal

								&:before, &:after
									position: absolute
									line-height: 0.7
									display: block
									content: "\0022"
									font-family: $DINRoundPro
									font-size: 5.625em
									text-align: center
									color: #9b9b9b

								&:before
									top: 0
									left: -9%

								&:after
									top: 0
									right: -9%

					>.slick-center, .slick-active, .slick-slide
						>.wrap
							max-width: 720px
							width: 100%

	.section-technologies
		height: 792px
		position: relative
		background-color: #f0f6fa
		display: flex
		justify-content: center
		>.wrap-technologies
			height: 100%
			padding: 5% 21.67%
			>.wrap-row
				width: 100%
				display: flex
				>.technology
					width: 96px
					height: 96px
					background-color: #fff
					//box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07)
					border-radius: 50%
					background-repeat: no-repeat
					background-position: center
					position: relative
					background-size: 60px auto
					&:after
						position: absolute
						height: 33px
						width: 162px
						text-align: center
						bottom: -37px
						left: calc(50% - 81px)
						font-family: $SFUID
						font-size: 20px
						font-weight: 300
						letter-spacing: -0px
						text-align: center
						color: #0a0c0f
						background-color: #f0f6fa
					&.slack
						border: solid 1px #25cbaa
						background-image: url("../img/roadmap/slack.svg")
						&:after
							content: 'Slack'
					&.ruby
						border: solid 1px #ffc100
						background-image: url("../img/roadmap/ruby.svg")
						&:after
							content: 'Sketch'
					&.in
						border: solid 1px #ff2a63
						background-image: url("../img/roadmap/in.svg")
						background-size: 50px auto
						&:after
							content: 'Invision'
					&.p
						border: solid 1px #7f3db6
						background-image: url("../img/roadmap/p.svg")
						background-size: 40px auto
						&:after
							content: 'Principle'
					&.react
						border: solid 1px #35b877
						background-image: url("../img/roadmap/react.svg")
						&:after
							content: 'Atom'
					&.zeplin
						border: solid 1px #f89920
						background-image: url("../img/roadmap/zeplin.svg")
						&:after
							content: 'Zeplin'
					&.vim
						border: solid 1px #000000
						background-image: url("../img/roadmap/vim.png")
						background-size: 60px auto
						&:after
							content: 'Vim'
					&.penta
						border: solid 1px #0079ff
						background-image: url("../img/roadmap/penta.png")
						background-size: 60px auto
						&:after
							content: 'Fastlane'
					&.hat
						border: solid 1px #019ee1
						background-image: url("../img/roadmap/hat.png")
						background-size: 65px auto
						&:after
							content: 'HockeyApp'
					&.app
						background-image: url("../img/roadmap/appstore.svg")
						border-radius: 0
						width: 80px
						height: 80px
						background-color: transparent
						background-size: 80px auto
						&:after
							content: 'App Store'
					&.android
						background-image: url("../img/roadmap/playmarket.svg")
						border-radius: 0
						width: 80px
						height: 80px
						background-color: transparent
						background-size: 80px auto
						&:after
							content: 'Google Play'
				>.technology-line
					flex: 1
					align-self: center
					height: 1px
					object-fit: contain
					border-style: solid
					border-width: 1px
					border-image-slice: 1
					border-top: none
					&.first
						position: relative
						border-image-source: linear-gradient(to right, #24ccaa, #ffc100)
						//&:after
						//	position: absolute
						//	content: ''
						//	width: 12px
						//	height: 12px
						//	top: -5px
						//	left: calc(50% - 6px)
						//	background-image: url("../img/roadmap/line.svg")
						//	background-repeat: no-repeat
					&.second
						border-image-source: linear-gradient(to right, #ffc100, #ff2a63)
					&.third
						border-image-source: linear-gradient(to right, #f89920, #7f3db6)
					&.fourth
						border-image-source: linear-gradient(to right, #35b877, #f89920)
					&.fifth
						border-image-source: linear-gradient(to right, #000000, #0079ff)
					&.sixth
						border-image-source: linear-gradient(to right, #0079ff, #019ee1)
				&.first
					justify-content: flex-end
					padding-right: 47px
				&.second
					justify-content: flex-start
					padding-left: 47px
				&.third
					flex-direction: column
					//justify-content: flex-end
					align-items: flex-end
					padding-right: 47px
					padding-left: 47px
					margin-bottom: -40px
				&.fourth
					padding: 0 22.3%
				>.technology-line-vertical
					width: 1px
					height: 80px
					object-fit: contain
					border-style: solid
					border-width: 1px
					border-image-slice: 1
					border-left: none
					&.one
						border-image-source: linear-gradient(to bottom, #ff2a63, #7f3db6)
					&.two
						border-image-source: linear-gradient(to bottom, #35b877, #000000)
					&.seventh
						border-image-source: linear-gradient(to right, #2096c3, #019ee1)
						height: 64px
				>.eighth
					height: 1px
					width: 100%
					display: flex
					flex-direction: row
					>.left
						flex: 1
						height: 0
					>.right
						flex: 1
						height: 1px
						border-style: solid
						border-width: 1px
						border-image-slice: 1
						border-top: none
						border-image-source: linear-gradient(to right, #2096c3, #019ee1)
				>.ninth
					width: 100%
					display: flex
					justify-content: center
					.-center
						width: 2px
						height: 64px
						border-style: solid
						border-width: 1px
						border-image-slice: 1
						border-right: none
						border-image-source: linear-gradient(to right, #2096c3, #019ee1)
				>.tenth
					border-image-source: linear-gradient(to right, #00a6b9, #4086cd)
	>footer
		//max-width: 1440px
		width: 100%
		min-height: 720px
		object-fit: contain
		background-image: linear-gradient(to left, #27c4ce, #33d4bd)
		display: flex
		justify-content: center

		>.row
			height: 100%

			>form
				display: flex
				flex-direction: column
				justify-content: space-between
				padding: 70px 0 74px 13px

				>legend
					font-family: $SFUIDsemibold
					font-size: 2.75em
					font-weight: 600
					line-height: 1.14
					letter-spacing: 0.2px
					color: #ffffff
					margin-bottom: 73px
					border: none

				>.wrap
					display: flex
					flex-direction: column
					justify-content: space-between
					height: 360px
					position: relative

					>label
						width: 100%
						position: relative
						&:before
							position: absolute
							content: ''
							width: 100%
							height: 1px
							top: -17px

					>input
						width: 100%
						height: 36px
						border-top: none
						border-left: none
						border-right: none
						box-shadow: none
						border-bottom: 1px solid #fff
						background-color: transparent
						font-family: $SFUIDregular
						font-size: 1em
						text-align: left
						color: rgba(255, 255, 255, 0.7)
						position: relative

						&:focus
							outline: 0
							outline-offset: 0

						&:focus:required:invalid
							font-family: $SFUIDregular
							font-size: 1em
							text-align: left
							color: #f8e81c
							border-bottom: 1px solid #f8e81c
						&:focus:required:invalid::-webkit-input-placeholder
							color: #f8e81c
						&:focus:required:invalid::-moz-placeholder
							color: #f8e81c
						&:focus:required:invalid:-moz-placeholder
							color: #f8e81c
						&:focus:required:invalid:-ms-input-placeholder
							color: #f8e81c

					::-webkit-input-placeholder
						color: rgba(255, 255, 255, 0.7)
					::-moz-placeholder
						color: rgba(255, 255, 255, 0.7)
					:-moz-placeholder
						color: rgba(255, 255, 255, 0.7)
					:-ms-input-placeholder
						color: rgba(255, 255, 255, 0.7)

					>label[for=email], label[for=name], label[for=project]
						&:after
							position: absolute
							content: '*'
							font-family: $SFUIDregular
							font-size: 1em
							text-align: right
							color: rgba(255, 255, 255, 0.7)
							top: -47px
							right: 5px

					>input:focus:required:invalid + label:after
						color: #f8e81c


				>button
					width: 270px
					height: 54px
					font-family: 'SFUIDTextMedium', sans-serif
					font-size: 1.125em
					font-weight: 500
					line-height: 1.22
					letter-spacing: 1px
					text-align: center
					color: #27c6ce
					border: none
					border-radius: 4px
					background-color: #fff
					margin-top: 43px
					position: relative
					overflow: hidden

					&:hover
						color: #0fabe8

				#send-respond-button
					filter: url('/#send-respond')

			>.contact
				display: flex
				flex-direction: column
				justify-content: space-between
				max-width: 345px
				padding: 70px 0 70px 0px
				width: 100%
				min-height: 600px

				>img
					width: 250px
					height: 59.4px

				>.email, .adress
					font-family: 'SFUITextRegular', sans-serif
					font-size: 1.125em
					line-height: 1.22
					letter-spacing: 1px
					color: rgba(255, 255, 255, 0.7)

					>span
						font-family: 'SFUIDTextMedium', sans-serif
						font-size: 1.25em
						font-weight: 500
						line-height: 1.5
						letter-spacing: 0.3px
						color: #ffffff

				>.adress
					margin-top: 10px

				>.phone
					font-family: 'SFUIDTextMedium', sans-serif
					font-size: 2.25em
					font-weight: 500
					line-height: 0.83
					letter-spacing: 0.6px
					color: #ffffff
					margin-top: 40px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	overflow: hidden

.btn-4
	&:after
		background: #fff
		content: ""
		height: 155px
		left: -75px
		opacity: .2
		position: absolute
		top: -50px
		transform: rotate(35deg)
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)
		width: 50px
		z-index: -10
	&:hover
		&:after
			left: 120%
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)

.btn-4-blue
	&:after
		background: #0fabe8
		content: ""
		height: 155px
		left: -75px
		opacity: .2
		position: absolute
		top: -50px
		transform: rotate(35deg)
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)
		width: 50px
		z-index: -10
	&:hover
		&:after
			left: 120%
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)

.message
	position: relative
	width: 270px
	display: none
	&:after
		position: absolute
		content: 'Успешно отправлено'
		width: 160px
		bottom: -40px
		left: calc(50% - 80px)
		color: #fff
		font-family: 'SFUITextRegular', sans-serif
	&.active
		display: block

.message-mobile
	position: relative
	width: 100%
	display: none
	&:after
		position: absolute
		content: 'Успешно отправлено'
		width: 120px
		bottom: -30px
		left: calc(50% - 60px)
		color: #fff
		font-family: 'SFUITextRegular', sans-serif
	&.active
		display: block
@keyframes App-logo-spin
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)

@keyframes backgroundAnim0
	from
		opacity: 0
	to
		opacity: 1

@keyframes backgroundAnim1
	from
		opacity: 0
	to
		opacity: 1

@keyframes backgroundAnim2
	from
		opacity: 0
	to
		opacity: 1

@import "./media"
